/**
* ============================================
* @author:syf20020816@outlook.com
* @since:20230330
* @version:1.0.0
* @type:scss
* @description:定义全局使用的变量
* ============================================
*/
$bg-color-dark:#11100F;
$bg-color-menu:#252423;
$bg-color-header:#1B1A19;
$bg-color-hover:#3B3A39;
$bg-color-light:#ffffff;
$force-color:#ff9c4b;
